version: "4"

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      # MONGO_INITDB_ROOT_USERNAME: root
      # MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: product-service
    volumes:
      - ./data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: mongo_express_container
    ports:
      - "8000:8081" # Access the UI at http://localhost:8081
    environment:
      # --- Connection Details for Mongo Express to MongoDB ---
      # This hostname 'mongodb' refers to the service name defined above.
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"

      # --- Admin Credentials for Mongo Express to log into MongoDB ---
      # ME_CONFIG_MONGODB_ADMINUSERNAME: root
      # ME_CONFIG_MONGODB_ADMINPASSWORD: password

      # --- Credentials for the Mongo Express Web Interface (Optional Basic Auth) ---
      ME_CONFIG_BASICAUTH_USERNAME: admin_user
      ME_CONFIG_BASICAUTH_PASSWORD: strong_admin_pass
    depends_on:
      - mongodb # Ensure MongoDB starts before Mongo Express

# volumes:
#   mongo_data:
